&.multiChoice {
  .choices {

    margin-top: 20px;

    .choice {
      display: inline-block;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 5px 15px;
      margin-right: 10px;
      font-family: 'Open Sans', sans-serif;
      color: #aaa;
      font-size: 13px;
      font-weight: 700;
      margin-top: 20px;
    }
  }
}
