  .center {
    width: 60%;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    overflow: scroll;

    &.highlight {
      background-color: #f9f9f9;
    }

    .addQuestion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      user-select: none;
      .circle {
        border-radius: 100%;
        border: 3px dashed #4276EB;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        svg {
          color: #4276EB;
          font-size: 30px;
        }
      }
      .label {
        font-family: 'PT Sans', sans-serif;
        font-weight: 600;
        color: #5D6F78;
        font-size: 20px;
      }
      .blurb {
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        color: #bbb;
      }
    }
  }
