  .left {
    width: 20%;
    height: 100vh;
    background-color: #253238;
    box-sizing: border-box;
    padding: 40px 20px;
    user-select: none;

    .logo {
      width: 90%;
      height: auto;
      margin-bottom: 30px;
    }

    .back {

    }

    .icon {
      display: flex;
      flex-direction: column;
      width: 50px;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0.9;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
        cursor: move;
        .circle {
          transform: scale(1.1);
        }
      }

      .circle {
        border-radius: 100%;
        background-color: white;
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        transition: transform 0.5s;
      }

      &.multiChoice .circle {
        background-color: #0EC4FF;
        svg {
          color: rgba(255, 255, 255, 0.9);
          font-size: 18px;
        }
      }

      .label {
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        color: #999;
        text-align: center;
        line-height: 10px;
        margin-top: 5px;
      }
    }
  }
