@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
// no scroll
html, body { height: 100vh; overflow: hidden; }
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  .app {
    display: flex;
    flex-direction: row;
    @import './left';
    @import './center';
    @import './right';
  }
}

@import './questions/question';
